services:
  # The MQTT Broker
  broker:
    image: eclipse-mosquitto:2
    container_name: mosquitto-broker
    volumes:
      - ./mosquitto:/mosquitto/config
    ports:
      - "1883:1883"

  # The NestJS Server
  server:
    build: ./server
    container_name: nestjs-server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
      # - /usr/src/app/dist
      - pnpm_store:/root/.local/share/pnpm/store # This line is now valid
      - ./server-uploads:/usr/src/app/uploads
    environment:
      - MQTT_BROKER_URL=mqtt://broker:1883
      - API_KEY=my-super-secret-key-12345
    depends_on:
      - broker

  # The on-premise Client
  client:
    build: ./client
    container_name: node-client
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CLIENT_ID=client-123
      - FILE_PATH=/usr/src/app/dummy-file.txt
      - MQTT_BROKER_URL=mqtt://broker:1883
      - SERVER_CHUNK_URL=http://server:3000/uploadchunk
      - SERVER_COMPLETE_URL=http://server:3000/uploadcomplete
      - API_KEY=my-super-secret-key-12345
    depends_on:
      - broker
      - server

volumes:
  pnpm_store:
    driver: local